/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
   */

   .toast {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  
  .show {
    opacity: 1;
  }
  